body {
  background-color: rgb(226, 208, 208);
  scroll-margin-right: inherit;
}

code {
  background-color: whitesmoke;
  padding: 0.6rem;
  margin-left: 1rem;
}

li {
  list-style: none;
}
.container {
  background-color: rgb(207, 230, 230);
}
